<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks App</title>
    <!--Boost-->
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!--Main Css-->
    <link rel="stylesheet" href="{{  url_for('static',filename='main.css') }}">
</head>
<body>
    <main class="container p-4">
        <h1 class="display-4 text-center title mt-4">TASKS APP</h1>

        <div class="row" >
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <form action="/create-task" method="POST">
                            <div class="form-group">
                                <input type="text" name="content" placeholder="Task" class="form-control" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Save
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for task in tasks %}
                            <li class="list-group-item">
                                <span class="{% if task.done %} done {% endif %}">{{task.content}}</span>
                                <br>
                                <a href="/done/{{task.id}}" class="btn btn-success btn-sm">DONE</a>
                                <a href="/delete/{{task.id}}" class="btn btn-danger btn-sm">DELETE</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>